<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yintong.secure.simple.demo"
    android:versionCode="3"
    android:versionName="2.3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_stand"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yintong.activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yintong.activity.AuthActivity"
            android:theme="@style/NoTitleTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yintong.activity.MobileBankActivity"
            android:theme="@style/NoTitleTheme"
            android:screenOrientation="portrait"/>

        <!-- LLYT SDK START -->
        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <service android:name="com.yintong.secure.service.PayService" />

        <!-- 集成手机网银支付 开始 -->
        <!-- 集成手机网银支付， PayListActivity，可以复制到App中，根据商户的流程进行定制，也可以不加入 -->
        <!--<activity-->
            <!--android:name="com.yintong.activity.PayListActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/TransTheme" />-->

        <!-- 集成手机网银支付 建行农行支付回调， PayReturnActivity-->
        <activity android:name="com.yintong.secure.activity.PayReturnActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- 建行配置选项，值需要在 meta-data CCBINFO 中再配置一次 -->
                <action android:name="comccbpay105330173990049ytsdkpay"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="CCBINFO"
                android:value="comccbpay105330173990049ytsdkpay" />

        </activity>

        <!-- 集成手机网银支付 建行webview -->
        <activity android:name="com.ccb.ccbnetpay.H5PayActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- 集成手机网银支付 工行回调 -->
        <activity
            android:name="com.icbc.pay.PayResultHandler">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.icbc.pay.PayResultHandler.SHOW_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 集成手机网银支付 工行服务 -->
        <service
            android:name="com.icbc.paysdk.ICBCAPI" >
        </service>
        <!-- 集成手机网银支付 工行webview -->
        <activity
            android:name="com.icbc.paysdk.webview.PayWebView"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:imeOptions="actionSend|flagNoEnterAction"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>


        <!-- 集成手机网银支付 招行支付回调， PayReturnCMBActivity-->
        <activity android:name="com.yintong.secure.activity.PayReturnCMBActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="ytmobilepaysdk"/>
            </intent-filter>
            <meta-data
                android:name="CMBINFO"
                android:value="ytmobilepaysdk" />
        </activity>

        <!-- 集成手机网银支付 结束 -->

        <!-- LLYT SDK END -->
    </application>

</manifest>